# Project #1

Read data from a csv file into a pandas dataframe object, and perform analysis to compare the arrival delays for the two airlines.


#### First, I calculated the percentage of Alaska Airlines flights that were delayed for each of the 5 destinations

To do this, I imported the pandas package into a Jupyter Notebook, then told it where to find the file. 

To get the percentage of delays, the delayed Alaska Airlines flights were divided by the total Alaska Airlines flights times 100. The results of the division are stored in a new pandas column called _"AlaskaDelayPct"_ and displayed.

In [22]:
import pandas as pd

#Read data from the csv file into a pandas dataframe

flightsData = pd.read_csv("/home/lv24252260/Documents/Project1/project1data.csv")


#Print the data to see the rows

flightsData.head()

     Destination  Alaska_ontime  Alaska_delayed  AMWest_ontime  AMWest_delayed
0    Los Angeles            497              62            694             117
1        Phoenix            221              12           4840             415
2      San Diego            212              20            383              65
3  San Francisco            503             102            320             129
4        Seattle           1841             305            201              61

In [23]:
#Find delay percentages for Alaska Airlines

flightsData['allAlaska'] = flightsData['Alaska_ontime'] + flightsData['Alaska_delayed']

flightsData['AlaskaDelayPct'] = flightsData['Alaska_delayed'] / flightsData['allAlaska'] * 100

flightsData['AlaskaDelayPct']

0    11.091234
1     5.150215
2     8.620690
3    16.859504
4    14.212488
Name: AlaskaDelayPct, dtype: float64

#### Second, I did the same to find the percentage of delays for the other airline, AMWest.
This was done in exactly the same manner using the appropriate fields. Results were stored in a new column called "AMWDelayPct"

In [26]:
flightsData['allAMWest'] = flightsData['AMWest_ontime'] + flightsData['AMWest_delayed']

flightsData['AMWDelayPct'] = flightsData['AMWest_delayed'] / flightsData['allAMWest'] * 100


flightsData['AMWDelayPct']

0    14.426634
1     7.897241
2    14.508929
3    28.730512
4    23.282443
Name: AMWDelayPct, dtype: float64

#### Next, we can display the delay percentages for each Airline and destination city side by side:

In [29]:
flightsData [['Destination', 'AlaskaDelayPct','AMWDelayPct']]

     Destination  AlaskaDelayPct  AMWDelayPct
0    Los Angeles       11.091234    14.426634
1        Phoenix        5.150215     7.897241
2      San Diego        8.620690    14.508929
3  San Francisco       16.859504    28.730512
4        Seattle       14.212488    23.282443

#### We can use a for loop to iterate through the dataframe and compare the percentages, and use that to show the airline with the most delays:

In [36]:
for index, row in flightsData.iterrows():
    if row['AlaskaDelayPct'] > row['AMWDelayPct']:
        flightsData.loc[index, 'Most_Delayed_Airline'] = 'Alaska'
    else:
        flightsData.loc[index, 'Most_Delayed_Airline'] = 'AMWest'

flightsData['Most_Delayed_Airline']

0    AMWest
1    AMWest
2    AMWest
3    AMWest
4    AMWest
Name: Most_Delayed_Airline, dtype: object

#### Finally, here is our full dataframe

In [37]:
flightsData

,Destination,Alaska_ontime,Alaska_delayed,AMWest_ontime,AMWest_delayed,allAlaska,AlaskaDelayPct,allAMWest,AMWDelayPct,Most_Delayed_Airline
0,Los Angeles,497,62,694,117,559,11.091234,811,14.426634,AMWest
1,Phoenix,221,12,4840,415,233,5.150215,5255,7.897241,AMWest
2,San Diego,212,20,383,65,232,8.620690,448,14.508929,AMWest
3,San Francisco,503,102,320,129,605,16.859504,449,28.730512,AMWest
4,Seattle,1841,305,201,61,2146,14.212488,262,23.282443,AMWest

### Conclusion:

AM West had more delays than Alaska Airline in every city in the list, in some cases double the percentage of delayed flights. This would suggest that Alaska Airline is more reliable for passengers who need to catch connecting flights out of Los Angeles, Phoenix, San Diego, San Francisco, or Seattle, or for whom arriving on time is important.